.home-content-up{
    background:#f6f6f8;
    padding: 150px 50px;
}
.home-text-up{
    width: 40%;
    float: left;
}


.home-text-up .title{
    font-size: 50px;
    
    
}

.btn-read{
    padding: 12px 22px;
background: var(--success);
margin-right: 10px;
border-radius: 7px;
color: var(--light);
}

.btn-order{
    padding: 11px 21px;
    border: solid 1px #c1c0c0; 
    border-radius: 7px;
    color: var(--dark); 
}
.btn-order:hover{
    background:var(--success) ;
    color: var(--light);
}
.home-image{
    
    
    
    
}
.baner-image{
    background-image:url(https://i.imgur.com/ypqYjRN.jpg);
    background-size: cover;
    width: 50%;
    height: 55vh;
    position: relative;
    float: left;
}

.home-bollets{
    list-style: none;
    
    left: 62%;
    position: absolute;
    bottom: -5px;
   }

   .home-bollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color:var(--gray);
    margin: 10px 5px;
    border-radius: 50%;
   }

   .home-bollets li.active{
    background-color: var(--danger);
   }
   .home-bollets li:hover{
    background-color: var(--danger);
    cursor: pointer;
   }

   .home-content-down{
    padding: 150px 0;
}
.home-text-down{
    width: 40%;
    float: left;
    text-align:right;
}